.cardNew {
  margin-bottom: 1rem;
}

.cardNew__hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background: #1b1b25;
  background-image: url("../../images/stars.svg");
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.cardNew__hero img {
  border-radius: 10px;
}

.container__compsNew {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .container__compsNew {
    width: 500px;
    grid-template-columns: 500px;
  }
}

@media (max-width: 500px) {
  .container__compsNew {
    width: 300px;
    grid-template-columns: 300px;
  }
}
