.notfoundbody {
  width: 100%;
  height: 70.4vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8rem;
  background-color: #1b1b25;
  background-image: url("../../images/stars.svg");
  color: white;
}

.notfoundbody__welcome {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 1rem;
}

.notfoundbody__welcome-img {
  border-radius: 10px;
  align-self: center;
}

.notfoundbody__welcome-title {
  font-size: 3rem;
  margin: 0;
}

.notfoundbody__img {
  height: 400px;
}

h2 {
  margin-top: 0;
}
